* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #181818;
}

header {
    background-color: #202020;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f39c12;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: 100vh;
}

.about-content {
    max-width: 50%;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e67e22;
}

#3d-canvas {
    width: 50%;
    height: 100vh;
}

footer {
    background-color: #202020;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
